includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
    tmpDir: build/phpstan

    ignoreErrors:

    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        declare: 100

    errorFormat: ticketswap
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
